<h3 class="title-color">Pagina principal</h3>

<div>
  <h2>Bienvenido</h2>
  <h1>Lista de Compras:</h1>
  <ul>
    {{#each products}}
     <hr>
      <li>
        <h3>title: {{this.title}}</h3> 
        <h3>description: {{this.description}}</h3> 
        <h3>Price: {{this.price}}</h3>
        <h3>thumbnail: {{this.thumbnail}}</h3>
        <h3>code: {{this.code}}</h3>
        <h3>stock: {{this.stock}}</h3> 
        <h3>status: {{this.status}}</h3> 
        <h3>category: {{this.category}}</h3> 
        {{!-- <h3>Id: {{this.Id}}</h3> lo genera automatico--}}
      </li>
    {{/each}}
  </ul>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>